<!doctype html>
<html lang="en" data-framework="backbonejs">
  <head>
    <meta charset="utf-8">
    <title>ttsmagic</title>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
